* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    body {
        margin: 10px;
        padding: 10px;
        border: 3px solid #bd0000f1;
        }
}

img {
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

h1 {
    background-color: #bd0000f1;
    color: white;
    font-size: 40;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: white underline;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    background-color: #ff105833;
    text-decoration: underline;
}
   
ul,
ol {
    font-size: 120%;
}

.steg li {
    font-family: 'Times New Roman', Times, serif;
}

.links {
    background-color: #ff105833;
    border-left: 8px solid #bd0000f1;
    padding: 3px 3px 3px 6px;
    margin: 10px 0px 4px -40px;
    line-height: 2;
    list-style-type: none;
    font-weight: bold;
}

a:link, a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    } 
    
a:hover {
    color: #000000c4;